.heading {
    text-align: left;
    padding-left: 5%;
    text-emphasis: bold;
    font-size: 300%;
}

.heading1 {
    text-align: center;
    font-family: Georgia;
    font-size: 500%;
}

.heading2 {
    text-align: left;
    padding-left: 3%;
    text-emphasis: bold;
    font-size: 250%;
    font-weight: bold;
    font-family: Times;
}

.heading4 {
    text-align: center;
    font-family: Roboto;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.paragraph1 {
    margin-left: 19%;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 40%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}